.hidden{
  display: none;
}
.recipeList{
	margin: 0 auto;
	display: inline-block;
}

nav{
	height: 50px;
	width: 100%;
	background-color: #191953;
}

.srch-btn{
	background-color: #191953;
	color: white;
	border: none;
	float: right;
}